/* Photo gallery modal bottom link*/
/* Newly Added   */
#mainNav .navbar-nav .nav-item {
    position: relative;
}
#mainNav .navbar-nav .nav-item .sub-menu {
    display: none;    
    transition: all 0.3s ease;
    -webkit-transition :all 0.6s ease;

}
#mainNav .navbar-nav .nav-item:hover .sub-menu {
    display: block;
    position: absolute;
    z-index: 9;
    left: 0;
    padding: 5px 20px 15px;
    font-size: 12px;
    color: #fff;
    text-transform: uppercase;
    background: rgba(0, 0, 0, 0.85);
    transition: all 0.3s ease;
    -webkit-transition :all 0.6s ease;
}
#mainNav .navbar-nav .nav-item:hover .sub-menu li {
    list-style: none;
}
#mainNav .navbar-nav .nav-item:hover .sub-menu li {    
    color: #fff;
    padding: 5px 0;    
    width: 100%;
    float: left;
}
#mainNav .navbar-nav .nav-item:hover .sub-menu li a {
    position: relative;
    list-style: none;
    color: #fff;
    text-decoration: none;
    white-space: nowrap;
    border-bottom: 1px solid #333;
    width: 100%;
    float: left;
    padding-bottom: 5px;
}
#mainNav .navbar-nav .nav-item:hover .sub-menu li a:after{
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: #fff;
    visibility: hidden;
    -webkit-transform: scaleX(0);
    -ms-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 1s cubic-bezier(0.32, 1.25, 0.375, 1.15);
    transition: all 1s cubic-bezier(0.32, 1.25, 0.375, 1.15);
}
#mainNav .navbar-nav .nav-item:hover .sub-menu li a:hover:after{
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    visibility: visible;
}
/* Newly Added End */
.modal-link {
        color: #666;
}
.modal-link:hover {
        color: #000;
        text-decoration: none;
}

.subscribe-modal .modal-content {
    padding: 70px 0;
    text-align: center;
    border: none;
    border-radius: 0;
    font-family: 'Dubai W23 Regular';
    background-clip: border-box;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.subscribe-modal .modal-content h2 {
    font-size: 20px;
    margin-bottom: 0px;
}

.subscribe-modal .close-modal {
    position: absolute;
    top: 25px;
    right: 25px;
    width: 25px;
    height: 25px;
    cursor: pointer;
    background-color: transparent;
}
.subscribe-modal .close-modal .lr .rl {
    z-index: 1052;
    width: 1px;
    height: 25px;
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
    background-color: #222222;
}
.subscribe-modal .close-modal .lr {
    z-index: 1051;
    width: 1px;
    height: 25px;
    margin-left: 13px;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    background-color: #222222;
}
#subscribtion-result {
    margin-bottom: 1rem;
}
.subscriberesult span, #subscribtion-result span {
    padding-right: 10px;
}
.subscriberesult.error .fa, #subscribtion-result.error .fa {
    color: #e62a2a;
}
.ed-loader {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: url("../images/loader-logo.png") center no-repeat #000;
}
.subscribe-modal select.form-control {
    padding: .2rem .75rem;
}
/* Newly Added  */
@media only screen and (max-width: 767px) {
    #mainNav .navbar-nav .nav-item .sub-menu {
        display: block;
    }
    #mainNav .navbar-nav .nav-item .nav-link, 
    .navbar-nav.show li, 
    #mainNav .navbar-nav .nav-item:hover .sub-menu li a {
        border-bottom: 0px;
    }
    #mainNav .navbar-nav .nav-item .nav-link.hide-this {
        display: none;
    }
    #mainNav .navbar-nav .nav-item .sub-menu {
        list-style: none;
    }
    #mainNav .navbar-nav .nav-item:hover .sub-menu li a:hover:after{
        -webkit-transform: scale(0);
        -ms-transform: scale(0);
        transform: scale(0);
    }
    #mainNav .navbar-nav .nav-item:hover .sub-menu li a:after{
        -webkit-transform: scaleX(0);
        -ms-transform: scaleX(0);
        transform: scaleX(0);
        -webkit-transition: none;
        transition: none;
    }
    #mainNav .navbar-nav .nav-item:hover .sub-menu li {  
    padding: 0px 0;  
    }
}

.gallery-box .gallery-item {
    position: relative;
    overflow: hidden;
    width: 100%;
    float: left;
    padding: 0;
    margin: 0 0 10px 0;
    height: 235px;
}
.gallery-item img {
    display: block;
    height: auto;
    position: absolute;
    top: 0;
    margin-top: -50px;
}
.article-details h6 {
    text-transform: none;
    font-family: 'Dubai W23 Regular';
}
/* Newly Added End */