/*!
 * Start Bootstrap - Agency v4.0.0-beta (http://startbootstrap.com/template-overviews/agency)
 * Copyright 2013-2017 Start Bootstrap
 * Licensed under MIT (https://github.com/BlackrockDigital/startbootstrap-agency/blob/master/LICENSE)
 */

@font-face {
    font-family: 'Dubai W23 Light';
    src: url('../../../javascript/vendor/webfonts/DubaiW23-Light.eot');
    src: local('Dubai W23 Light'), local('DubaiW23-Light'), url('../../../javascript/vendor/webfonts/DubaiW23-Light.eot?#iefix') format('embedded-opentype'), url('../../../javascript/vendor/webfonts/DubaiW23-Light.woff2') format('woff2'), url('../../../javascript/vendor/webfonts/DubaiW23-Light.woff') format('woff'), url('../../../javascript/vendor/webfonts/DubaiW23-Light.ttf') format('truetype'), url('../../../javascript/vendor/webfonts/DubaiW23-Light.svg#DubaiW23-Light') format('svg');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Dubai W23 Regular';
    src: url('../../../javascript/vendor/webfonts/DubaiW23-Regular.eot');
    src: local('Dubai W23 Regular'), local('DubaiW23-Regular'), url('../../../javascript/vendor/webfonts/DubaiW23-Regular.eot?#iefix') format('embedded-opentype'), url('../../../javascript/vendor/webfonts/DubaiW23-Regular.woff2') format('woff2'), url('../../../javascript/vendor/webfonts/DubaiW23-Regular.woff') format('woff'), url('../../../javascript/vendor/webfonts/DubaiW23-Regular.ttf') format('truetype'), url('../../../javascript/vendor/webfonts/DubaiW23-Regular.svg#DubaiW23-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Dubai W23 Medium';
    src: url('../../../javascript/vendor/webfonts/DubaiW23-Medium.eot');
    src: local('Dubai W23 Medium'), local('DubaiW23-Medium'), url('../../../javascript/vendor/webfonts/DubaiW23-Medium.eot?#iefix') format('embedded-opentype'), url('../../../javascript/vendor/webfonts/DubaiW23-Medium.woff2') format('woff2'), url('../../../javascript/vendor/webfonts/DubaiW23-Medium.woff') format('woff'), url('../../../javascript/vendor/webfonts/DubaiW23-Medium.ttf') format('truetype'), url('../../../javascript/vendor/webfonts/DubaiW23-Medium.svg#DubaiW23-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Dubai W23 Bold';
    src: url('../../../javascript/vendor/webfonts/DubaiW23-Bold.eot');
    src: local('Dubai W23 Bold'), local('DubaiW23-Bold'), url('../../../javascript/vendor/webfonts/DubaiW23-Bold.eot?#iefix') format('embedded-opentype'), url('../../../javascript/vendor/webfonts/DubaiW23-Bold.woff2') format('woff2'), url('../../../javascript/vendor/webfonts/DubaiW23-Bold.woff') format('woff'), url('../../../javascript/vendor/webfonts/DubaiW23-Bold.ttf') format('truetype'), url('../../../javascript/vendor/webfonts/DubaiW23-Bold.svg#DubaiW23-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}
body {
    font-family: 'Dubai W23 Regular';
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 18px;
    line-height: 28px;
    transition: .5s ease;
    overflow-x: hidden;

}

p {

}

a {
    color: #fed136; 
}
a.active, a:active, a:focus, a:hover {
    color: #fec503; 
}

h1,
h2,
h3,
h4,
h5,
h6 {    
    font-family: 'Dubai W23 Bold';
    text-transform: uppercase; 
}
.btn-secondary {    
    border-color: #000000;
}

section {
    padding: 100px 0; 
}
section h2.section-heading {
    font-size: 30px;
    margin-top: 0;
    margin-bottom: 25px;
    font-family: 'Dubai W23 Bold';
    border-bottom: 1px solid #c5c5c5;
    padding-bottom: 20px;
}
section h3.section-subheading {
    font-size: 16px; 
    margin-bottom: 75px;
    text-transform: none;
    font-family: 'Dubai W23 Regular'; }

@media (min-width: 768px) {
    section {
        padding: 40px 0;
    } 
}

::-moz-selection {
    background: #fed136;
    text-shadow: none;
}

::selection {
    background: #fed136;
    text-shadow: none;
}

img::selection {
    background: transparent; 
}

img::-moz-selection {
    background: transparent;
}

body {
    -webkit-tap-highlight-color: #fed136;
}

#mainNav {
    background-color: #222222; 
}
#mainNav .navbar-toggler {
    font-size: 12px;
    right: 0;
    padding: 13px;    
    color: white;
    border: 0;
    background-color: #fed136;
    font-family: 'Dubai W23 Bold';
    text-transform: uppercase;
}
#mainNav .navbar-brand {
    color: #fed136;    
}
#mainNav .navbar-brand.active, #mainNav .navbar-brand:active, #mainNav .navbar-brand:focus, #mainNav .navbar-brand:hover {
    color: #fec503;
}
#mainNav .navbar-nav .nav-item .nav-link {
    font-size: 90%;
    font-weight: 400;
    padding: 0.75em 0;
    letter-spacing: 1px;
    color: white;
    font-family: 'Dubai W23 Bold';
    text-transform: uppercase; 
}
#mainNav .navbar-nav .nav-item .nav-link.active, #mainNav .navbar-nav .nav-item .nav-link:hover {
    color: #fed136;
}

@media (min-width: 1025px) {
    #mainNav {
        padding-top: 25px;
        padding-bottom: 25px;
        -webkit-transition: padding-top 0.3s, padding-bottom 0.3s;
        -moz-transition: padding-top 0.3s, padding-bottom 0.3s;
        transition: padding-top 0.3s, padding-bottom 0.3s;
        border: none;
        background-color: transparent; 
        transition: all 600ms ease;
    }
    #mainNav .navbar-brand {
        font-size: 1.75em;
        -webkit-transition: all 0.3s;
        -moz-transition: all 0.3s;
        transition: all 0.3s; 
    }
    #mainNav .navbar-nav .nav-item .nav-link {
        padding: 1.1em 1em !important;
    }
    #mainNav.navbar-shrink {
        padding-top: 0;
        padding-bottom: 0;
        background-color: #fff;
        transition: all 600ms ease;
        -webkit-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
        -moz-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
        -ms-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
        box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
    }
    #mainNav.navbar-shrink .navbar-brand .logo-white {
        display: none;
    }
    #mainNav .navbar-brand .logo-black {
        display: none;
    }
    #mainNav.navbar-shrink .navbar-brand .logo-black {
        display: block;
    }
    #mainNav.navbar-shrink .navbar-nav .nav-item .nav-link {
        color: #000;
    }
}

header.masthead {
    text-align: center;
    color: white;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;     
}
header.masthead .container{
    height: 100%;
    display: table;
}
header.masthead .intro-text {
    /*padding-top: 150px;
    padding-bottom: 100px; */
    display: table-cell;
    vertical-align: bottom;
}
header.masthead .intro-text .intro-lead-in {
    font-size: 22px;    
    line-height: 22px;
    margin-bottom: 25px;    
    font-family: 'Dubai W23 Regular';
}
header.masthead .intro-text .intro-heading {
    font-size: 50px;    
    line-height: 50px;
    margin-bottom: 25px;

    font-family: 'Dubai W23 Bold';
    text-transform: uppercase;
}
header.masthead:not(:last-child) .intro-text .intro-lead-in {
    display: none;
}
header.masthead:not(:last-child) .intro-text .intro-heading {
    display: none;
}

@media (min-width: 768px) {
    header.masthead .intro-text {
        /*padding-top: 300px;
        //padding-bottom: 200px; */
    }
    header.masthead .intro-text .intro-lead-in {
        padding-top: 35px;
        font-size: 20px;
        line-height: 40px;
        margin-bottom: 0;
        font-family: 'Dubai W23 Regular';
        text-transform: uppercase;
    }
    header.masthead .intro-text .intro-heading {
        font-size: 45px;        
        line-height: 75px;
        margin-bottom: 0px;
        font-family: 'Dubai W23 Bold';
        text-transform: uppercase; 
        padding-bottom: 25px;
    } 
}

.service-heading {
    margin: 15px 0;
    text-transform: none; 
}



section#contact {
    background-color: #222222;
    background-image: url("../images/map-image.png");
    background-repeat: no-repeat;
    background-position: center; }
section#contact .section-heading {
    color: white; }
section#contact .form-group {
    margin-bottom: 25px; }
section#contact .form-group input,
section#contact .form-group textarea {
    padding: 20px; }
section#contact .form-group input.form-control {
    height: auto; }
section#contact .form-group textarea.form-control {
    height: 236px; }
section#contact .form-control:focus {
    border-color: #fed136;
    box-shadow: none; }
section#contact ::-webkit-input-placeholder {
    font-weight: 700;
    color: #eeeeee;
    font-family: 'Dubai W23 Bold';
    text-transform: uppercase; }
section#contact :-moz-placeholder {
    font-weight: 700;
    color: #eeeeee;
    /* Firefox 18- */
    font-family: 'Dubai W23 Bold';
    text-transform: uppercase; }
section#contact ::-moz-placeholder {
    font-weight: 700;
    color: #eeeeee;
    /* Firefox 19+ */
    font-family: 'Dubai W23 Bold';
    text-transform: uppercase; }
section#contact :-ms-input-placeholder {
    font-weight: 700;
    color: #eeeeee;
    font-family: 'Dubai W23 Bold';
    text-transform: uppercase; }
section#contact .text-danger {
    color: #e74c3c; }

footer {
    padding: 25px 0;
    text-align: center; }
footer span.copyright {
    font-size: 90%;
    line-height: 40px;
    text-transform: none;
    font-family: 'Dubai W23 Bold';
    text-transform: uppercase; }
footer ul.quicklinks {
    font-size: 90%;
    line-height: 40px;
    margin-bottom: 0;
    text-transform: none;
    font-family: 'Dubai W23 Bold';
    text-transform: uppercase; }

ul.social-buttons {
    margin-bottom: 0; }
ul.social-buttons li a {
    font-size: 20px;
    line-height: 40px;
    display: block;
    width: 40px;
    height: 40px;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    color: white;
    border-radius: 100%;
    outline: none;
    background-color: #222222; }
ul.social-buttons li a:active, ul.social-buttons li a:focus, ul.social-buttons li a:hover {
    background-color: #fed136; }

.text-primary {
    color: #fed136 !important; }

.btn-primary {
    font-weight: 700;
    color: white;
    border-color: #fed136;
    background-color: #fed136;
    font-family: 'Dubai W23 Bold';
    text-transform: uppercase; }
.btn-primary.focus, .btn-primary:focus {
    color: white;
    border-color: #b48b01;
    background-color: #fec503; }
.btn-primary:hover {
    color: white;
    border-color: #f6bf01;
    background-color: #fec503; }
.btn-primary.active, .btn-primary:active,
.open > .btn-primary.dropdown-toggle {
    color: white;
    border-color: #f6bf01;
    background-color: #fec503; }
.btn-primary.active.focus, .btn-primary.active:focus, .btn-primary.active:hover, .btn-primary:active.focus, .btn-primary:active:focus, .btn-primary:active:hover,
.open > .btn-primary.dropdown-toggle.focus,
.open > .btn-primary.dropdown-toggle:focus,
.open > .btn-primary.dropdown-toggle:hover {
    color: white;
    border-color: #b48b01;
    background-color: #dcab01; }
.btn-primary.active, .btn-primary:active,
.open > .btn-primary.dropdown-toggle {
    background-image: none; }
.btn-primary.disabled.focus, .btn-primary.disabled:focus, .btn-primary.disabled:hover, .btn-primary[disabled].focus, .btn-primary[disabled]:focus, .btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary.focus,
fieldset[disabled] .btn-primary:focus,
fieldset[disabled] .btn-primary:hover {
    border-color: #fed136;
    background-color: #fed136; }
.btn-primary .badge {
    color: #fed136;
    background-color: white; }

.btn-xl {
    font-size: 18px;
    font-weight: 700;
    padding: 20px 40px;
    border-radius: 3px;
    color: white;
    border-color: #fed136;
    background-color: #fed136;
    font-family: 'Dubai W23 Bold';
    text-transform: uppercase; }
.btn-xl.focus, .btn-xl:focus {
    color: white;
    border-color: #b48b01;
    background-color: #fec503; }
.btn-xl:hover {
    color: white;
    border-color: #f6bf01;
    background-color: #fec503; }
.btn-xl.active, .btn-xl:active,
.open > .btn-xl.dropdown-toggle {
    color: white;
    border-color: #f6bf01;
    background-color: #fec503; }
.btn-xl.active.focus, .btn-xl.active:focus, .btn-xl.active:hover, .btn-xl:active.focus, .btn-xl:active:focus, .btn-xl:active:hover,
.open > .btn-xl.dropdown-toggle.focus,
.open > .btn-xl.dropdown-toggle:focus,
.open > .btn-xl.dropdown-toggle:hover {
    color: white;
    border-color: #b48b01;
    background-color: #dcab01; }
.btn-xl.active, .btn-xl:active,
.open > .btn-xl.dropdown-toggle {
    background-image: none; }
.btn-xl.disabled.focus, .btn-xl.disabled:focus, .btn-xl.disabled:hover, .btn-xl[disabled].focus, .btn-xl[disabled]:focus, .btn-xl[disabled]:hover,
fieldset[disabled] .btn-xl.focus,
fieldset[disabled] .btn-xl:focus,
fieldset[disabled] .btn-xl:hover {
    border-color: #fed136;
    background-color: #fed136; }
.btn-xl .badge {
    color: #fed136;
    background-color: white; }

.portfolio-modal .modal-dialog {
    max-width: none;
    height: 100%;
    margin: 0; }

.portfolio-modal .modal-content {
    min-height: 100%;
    padding: 100px 0;
    text-align: center;
    border: none;
    border-radius: 0;
    background-clip: border-box;
    -webkit-box-shadow: none;
    box-shadow: none; }
.portfolio-modal .modal-content h2 {
    font-size: 40px;
    margin-bottom: 50px;
}
.portfolio-modal .modal-content p {
    margin-bottom: 30px; }
.portfolio-modal .modal-content p.item-intro {
    font-size: 16px;
    font-style: italic;
    margin: 15px 0 0px;
    text-align: left;
}
.portfolio-modal .modal-content ul.list-inline {
    margin-top: 0;
    margin-bottom: 60px;
    font-family: 'Dubai W23 Regular'; 
    font-size: 16px;
    text-align: left;
}
.portfolio-modal .modal-content img {
    margin-bottom: 20px;
}
.portfolio-modal .modal-content button {
    cursor: pointer; }

.portfolio-modal .close-modal {
    position: absolute;
    top: 25px;
    right: 25px;
    width: 75px;
    height: 75px;
    cursor: pointer;
    background-color: transparent; }
.portfolio-modal .close-modal:hover {
    opacity: 0.3; }
.portfolio-modal .close-modal .lr {
    /* Safari and Chrome */
    z-index: 1051;
    width: 1px;
    height: 75px;
    margin-left: 35px;
    /* IE 9 */
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    background-color: #222222; }
.portfolio-modal .close-modal .lr .rl {
    /* Safari and Chrome */
    z-index: 1052;
    width: 1px;
    height: 75px;
    /* IE 9 */
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
    background-color: #222222; }

.portfolio-modal .modal-backdrop {
    display: none;
    opacity: 0; }
 .language-select:focus, .language-select:focus, .language-select:visited, .language-select:active {
    outline:none;
   box-shadow:none;
}  
