@media only screen and (max-width: 1600px) {
    .into-text-box .slide-next, .into-text-box .slide-prev {
        display: none;
    }
}
@media only screen and (max-width: 1024px) {
    /*.logo-new {*/
    /*    display: none;*/
    /*}*/
    .for-mobile {
        display: block !important;
    }
    .hide-mobile {
        display: none !important;
    }

    .categories {        
        height: 0;
        margin: 0;
        display: none;
        transition: all 400ms ease; 
    }

    .navbar-brand img {
        width: 210px;
        width: 175px;
        margin-left: 15px;
    }
    .navbar-brand img.logo-black {
        display: none;
    }
    .navbar-collapse {
        display: block;
    }
    .navbar-nav { 
        display: block;
        transition: all 400ms ease;
        position: fixed;
        background: #000;
        width: 100%;
        height: 100%;
        top: 70px;
        right: -4000px;
        z-index: 2;
    }
    .navbar-nav.show {      
        right: 0;  
        padding: 0px 40px;
    }
    .navbar-nav.show li {
        padding: 0;
        border-bottom: 1px solid #333;
    }
    .navbar-nav.show li a.back span {
        font-family: Calibri;
        margin-right: 15px;
    }
    #mainNav .navbar-nav .nav-item .nav-link {
        font-family: 'Dubai W23 Regular';
        font-size: 20px;
        text-transform: none;
        padding: 17px 0px !important;
    }
    #mainNav.navbar-shrink .menuToggle span {
        background: #fff;
    }
    .burger {
        position: absolute;
        top: 20px;
        right: 20px;
        z-index: 1;
    }
    .home-button {
        display: block;
        position: absolute;
        top: 17px;
        right: 166px;
        font-size: 25px;
        color: #fff;
    }
    #mainNav {
        z-index: 2000;
    }
    .sidemenu {
        width: 100%;
        overflow-y: scroll;
        overflow-x: hidden;
    }
    .sidemenu ul li a {
        font-size: 20px;
    }
    .slider-content .item .title {
        display: table-cell;
        vertical-align: bottom;
        text-align: left;
        padding: 20px;
        transition: all 200ms ease;
        opacity: 1;
    }
    .slider-content .item .title h2 {
        margin-bottom: 0px;
        transition: all 400ms ease;
    }
    .featured .item .title {
        vertical-align: bottom;
        display: table-cell;
        padding: 20px;
        opacity: 1;
    }
    .featured .item .title h2 {
        margin-bottom: 0px;
        transition: all 400ms ease;
    }
}


@media only screen and (max-width: 991px) {
    body.sidemenu-open {
        overflow: hidden !important;
    }

    .into-text-box .slide-prev, .into-text-box .slide-next {
        display: none;
    }
    .into-text-box {
        display: block;
    }
    header.masthead .intro-text .intro-lead-in {

        margin-top: 0px;
        padding-top: 65px;
        margin-bottom: 10px;
    }
    header.masthead .intro-text .intro-heading {
        font-size: 30px;
        line-height: 50px;
        margin-bottom: 0px;
        padding-bottom: 62px;
    }
    .newsletter .input-group {
        padding: 0 20px;
    }
    .contact-mails ul li { 
        display: block;
        width: 100%;
        margin-bottom: 30px;
    }
    .articles .card-body {
        border-left: 1px solid #ddd;
    }
    .subscribe:first-child .card{
        border: 1px solid rgba(0,0,0,.125);
    }
    footer .contact div {
        margin-bottom: 20px;
    }
    footer .contact .about, footer .contact .links {
        padding: 20px 20px;
    }

    .category-article .item .category-article-content {
        margin-top: 20px;
    }
    section.chairman h2 {
        margin-top: 20px;
    }
    .board .articles {
        margin-bottom: 20px;
    }
    .contact-address .address {
        position: relative;
        left:0;
        margin-top: 40px;
        text-align: center;
    }
    .contact-mails {
        text-align: center;
    }

}


@media only screen and (max-width: 767px) {
    .navbar-brand .logo-new {
        position: absolute;
        width: 58px;
        top: 10px;
        left: 0px;
    }
    .navbar-brand .logo-white {
        margin-left: 80px;
    }
}
