<?php echo $header; ?>

<header class="masthead inner-page" style="background: #333; ">
    <div class="container">
        <div class="intro-text">


            <h2><?php echo $heading_title; ?></h2>


        </div>
    </div>
</header>
<section class="single-article mt-50">
    <div class="container">
        <div class="row">        

            <div class="col-md-12">
                <p>
                    This privacy notice discloses the privacy practices for www.emiartesdiaries.com. This privacy
notice applies solely to information collected by this website. It will notify you of the following:
                </p>
                <ol class="privacy-list">
                <li> What personally identifiable information is collected from you through the website, how it
is used and with whom it may be shared.</li>
                <li> What choices are available to you regarding the use of your data.</li>
                <li> The security procedures in place to protect the misuse of your information.</li>
                <li> How you can correct any inaccuracies in the information.</li>
                </ol>
                <h5>Information Collection, Use, and Sharing</h5>
                <p>
                    We are the sole owners of the information collected on this site. We only have access to/collect
information that you voluntarily give us via email or other direct contact from you. We will not
sell or rent this information to anyone.
                </p>
                <p>We will use your information to respond to you, regarding the reason you contacted us. We will
not share your information with any third party outside of our organization, other than as
necessary to fulfill your request.</p>
<p>We may contact you via email in the future to tell you about new products and services by Emirates Magazine, including subscriptions, new articles/issues and changes to this privacy privacy. If you do not wish to receive such information, you may opt-out.</p>
<h5>Your Access to and Control Over Information</h5>
<p>You may opt out of any future contacts from us at any time. You can do the following at any
time by contacting us via the email address or phone number given on our website:</p>
<ul class="privacy-list">
<li>See what data we have about you, if any</li>
<li>Change/correct any data we have about you.</li>
<li>Have us delete any data we have about you.</li>
<li>Express any concern you have about our use of your data.</li>
</ul>
<h5>Security</h5>
<p>We take precautions to protect your information. When you submit sensitive information via the
website, your information is protected both online and offline.
Wherever we collect sensitive information, that information is encrypted and transmitted to us
in a secure way.</p>
<p>While we use encryption to protect sensitive information transmitted online, we also protect
your information offline. Only employees who need the information to perform a specific job are
granted access to personally identifiable information. The computers/servers in which we store
personally identifiable information are kept in a secure environment.</p>
<h5>Cookies</h5>
<p>We use "cookies" on this site. A cookie is a piece of data stored on a site visitor's hard drive to
help us improve your access to our site and identify repeat visitors to our site. For instance,
when we use a cookie to identify you, you would not have to log in a password more than once,
thereby saving time while on our site. Cookies can also enable us to track and target the
interests of our users to enhance the experience on our site. Usage of a cookie is in no way
linked to any personally identifiable information on our site.</p>
<p><b>If you feel that we are not abiding by this privacy policy, you should contact us
immediately via our email info@emiratesdiaries.com.</b></p>
            </div>
        </div>

    </div>
</section>

<?php echo $footer; ?>

</body>

</html>
