

<?php echo $header; ?>

<div class="clearfix"></div>

<header class="masthead inner-page" style="background: url('front/view/theme/default/images/about/about.jpg'); background-size: cover; background-position: center center; background-repeat: no-repeat;">
    <div class="container">
        <div class="intro-text">
            <h2></h2>                  

        </div>
    </div>
</header>

<section class="newsletter">
    <div class="container">
        <div class="row">
            <div class="col-lg-3"></div>
            <div class="col-lg-6">
                <h2 class="section-heading">404</h2> 
                <hr>
                <p>
                    THE PAGE YOU REQUESTED CANNOT BE FOUND!
                </p>

                


            </div>

        </div> 


    </div>
</section>

<div class="clearfix"></div>

<?php echo $footer; ?>

</body>

</html>