/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Dec 9, 2016, 11:23:25 AM
    Author     : Sparteqz - Jawhar
*/


.fa-lg {
    font-size: 23px;
}
#header {
    border-bottom: none;
    background: #a9caeb;
}
#header .navbar-header {

}
#button-menu {
    padding: 15px 21px 12px 21px;
    background: #225284;
    color: #fff;
    border-right: none
}
#header #button-menu + .navbar-brand {
    padding: 19px 49px 16px 22px;
    margin-right: 0px;
    background: #225284;
    color: #fff;
    font-size: 21px;
}
.navbar-brand {

    padding: 17px 33px 13px 30px;
    font-size: 21px;
    background: #225284;
    color: #fff;
}
#header .nav > li > a {
    padding: 7px 21px;
    border-left: 1px solid #b8d7f7;
    color: #101010;
}
#column-left {
    width: 62px;
}
#menu > li > a {
    padding: 15px;
    padding-left: 23px;
    border-bottom:none;
    color: #ffffff;
}
#column-left {
    background-color: #101010;
}
#column-left.active #profile {
    padding: 30px 15px 30px 15px;
    border-bottom: 1px solid #1f1f1f;
}
#menu > li > ul {

    left: 62px;
}
#menu > li.active > a {
    color: #ffffff;
    background: #225284;
}
.panel-default {
    border: 1px solid #225284;
    border-top: 1px solid #225284;

}
.panel-default .panel-heading {
    color: #ffffff;
    border-color: #225284;
    border-radius: 2px;
    background: #225284;
    border-radius: 0;
}
.panel-heading {
    padding: 12px 15px;
}
#column-left + #content {
    margin-left: 62px;
}
@media (max-width: 767px) {
    #column-left+#content {
        margin-left: 0;
    }
}


.btn-primary {
    color: #fff;
    background-color: #225284;
    border-color: #225284;
}
.btn {
    border-radius: 2px;
}
#profile div i {
    color: #87add2;
}
.panel-default.login {
    margin-top: 50px;
    background: #a9caeb;
    border: none;

}

.login .panel-body {
    padding: 45px;


}
.login .panel-body label {
    font-size: 15px;
    color: #202020;
}
.login .input-group-addon:first-child {
    background-color: #225284;
    color: #fff;
}

.login .input-group-addon:first-child, .login .input-group .form-control:last-child {
    border: none;
}
.login .form-group + .form-group {
    border-top: none;
}
.login .form-group {
    padding-top: 8px;
    padding-bottom: 8px;
}
.bg-dark {
    background: #1f1f1f;

}
.alert-success {
    background-color: #c8e7ae;
    border-color: #c8e7ae;
    color: #427418;
}
.alert-info {
    background-color: #aadbf3;
    border-color: #aadbf3;
    color: #31708f;
}
.alert-danger {
    background-color: #f88787;
    border-color: #f88787;
    color: #a52c2c;
}