::-webkit-scrollbar {
    width: 4px;
    height: 4px;
    cursor: pointer;
    -webkit-transition: width 2s, height 4s; /* For Safari 3.1 to 6.0 */
    transition: width 2s, height 4s;
}
::-webkit-scrollbar:hover {
    height: 4x;
    width: 4px;
    cursor: pointer !important;
    transition: all 0.5s ease;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: none; 
    border-radius: 10px;
    background: #ccc;
    border-left: none;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
    background-color: #ddd;
}

::-webkit-scrollbar-thumb {
    background-color:#666;
    cursor: pointer;
}
::selection {
    background-color:  #2a2927;
    color: #fff;
}


.modal {
    z-index: 2050;
}

.for-mobile {
    display: none !important;
}
/*///////HEADER////////*/
.fixed-top {
    padding: 0;
}
#mainNav {
    padding: 0;
}
.navbar-brand {    
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}
.navbar-brand img {
    width: 250px;
}
#mainNav .navbar-nav .nav-item .nav-link {
    font-size: 12px;
    font-family: 'Dubai W23 Regular';
    letter-spacing: 0.5px;
    line-height: 14px;
    transition: 0.3s ease;   
    border-bottom: 1px solid rgba(63, 164, 106, 0);
    padding: 7px 0 !important;
    margin: 0 7px;
    position: relative;
}
#mainNav .navbar-nav .nav-item .nav-link:after{
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: #fff;
    visibility: hidden;
    -webkit-transform: scaleX(0);
    -ms-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 1s cubic-bezier(0.32, 1.25, 0.375, 1.15);
    transition: all 1s cubic-bezier(0.32, 1.25, 0.375, 1.15);
}
#mainNav.navbar-shrink .navbar-nav .nav-item .nav-link:after{
    background-color: #000;
}
#mainNav .navbar-nav .nav-item .nav-link.active:after, #mainNav .navbar-nav .nav-item .nav-link:hover:after{
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    visibility: visible;

}
#mainNav .navbar-nav .nav-item .nav-link.active, #mainNav .navbar-nav .nav-item .nav-link:hover {
    color: #fff;    
}
#mainNav.navbar-shrink .navbar-nav .nav-item .nav-link.active, #mainNav.navbar-shrink .navbar-nav .nav-item .nav-link:hover {
    color: #000;    
}
.home-button {
    display: none;
}

/*////SLIDER/////*/
.slider-nav-thumbnails .slick-slide {
    opacity: 0.5;
}

.slider-nav-thumbnails .slick-slide.slick-active {
    opacity: 1;
    background: green;
}

.content {
    font-size: 18px;
    padding: 0px;
    text-align:center;
    color: #000;
}

.two, .three, .four, .five {
    display:none;
}




/*/////// Responsive  ///////*/

@media (min-width: 1025px) {

    .navbar-expand-lg>.container, .navbar-expand-lg>.container-fluid {        
        border-bottom: 1px solid rgba(255, 255, 255, 0.37);
        padding-left: 0;
        padding-right: 0;
    }
    .navbar-expand-lg.navbar-shrink>.container, .navbar-expand-lg.navbar-shrink>.container-fluid {  
        border-bottom: none;
    }
}

@media (min-width: 1200px) {
    .container {
        max-width: 1180px;
    }   
}
.img-hieght {
    height: 400px;    
    display: table;
    width: 100%;
    margin: 15px 0;
    background-size: cover;
    background-position: center center;
}
.featured .item {
    width: 100%;
    overflow: hidden;
}

.featured .item:hover .img-hieght {
    text-decoration: none;
    -webkit-transition: all 200ms ease;
    -webkit-transform: scale(1.01);
    -ms-transition: all 200ms ease;
    -ms-transform: scale(1.01);   
    -moz-transition: all 200ms ease;
    -moz-transform: scale(1.01);
    transition: all 200ms ease;    
    transform: scale(1.01);   
}
.featured .item .title { 
    vertical-align: bottom;
    display: table-cell;
    padding: 20px;
    opacity: 0;

}
.featured .item .title h2 {
    font-family: 'Dubai W23 Regular';
    text-decoration: none;
    text-transform: none;
    color: #fff;
    font-size: 25px;
    letter-spacing: 0;
    margin-top: 20px;
    margin-bottom: -20px;
    transition: all 400ms ease; 
}
.featured .item:hover .title h2 { 
    margin-bottom: 0px;
    transition: all 400ms ease; 
}
.featured .item .title h4 {
    font-family: 'Dubai W23 Regular';
    text-decoration: none;
    text-transform: none;
    color: #fff;
    background: #000;
    padding: 4px 11px;
    font-size: 13px;
    letter-spacing: 0;    
    margin-bottom: 0px;
    display: initial;    
    transition: all 200ms ease;  
}

.featured .item:hover .img-hieght:before {
    background-color: rgba(0,0,0,0.2);
    content: '';
    z-index: -2;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; 
} 
.featured .item:hover .title {
    vertical-align: bottom;
    display: table-cell;
    padding: 20px;
    opacity: 1;
}

.featured .item {

}

.articles a.card-body   {   

    text-decoration: none;    
}
.articles a.card-body h4 {
    text-transform: none;
    color: #000;
    font-family: 'Dubai W23 Regular';
    font-size: 20px;
    padding-bottom: 5px;
}
.articles a.card-body .date {
    text-transform: none;
    color: #999;
    font-family: 'Dubai W23 Regular';
    font-size: 15px;    
    padding-bottom: 50px;
    font-style: italic;
}
.articles .card-title {

}
.articles .card a.card-img {
    position:relative;
    overflow: hidden;
    border-radius:0;
}
.articles .card a.card-img span {
    position: absolute;
    bottom: 0;
    left: 23px;
    color: #fff;
    background: #000;
    padding: 4px 11px;
    font-size: 13px;
    font-family: 'Dubai W23 Regular';
}
.articles {
    padding: 0;
    float: left;
}
.articles .card {
    border:none;
    border-radius: 0px;

}
.articles .card-img-top {
    border-radius: 0px;
}
.articles .card-body {
    border-bottom: 1px solid #ddd;
    border-top: 1px solid #ddd;
    border-right: 1px solid #ddd;
}
.articles .card-body:after {  
    font-family: Calibri;
    padding: 1.25rem;
    text-decoration: inherit;
    content: '→';
    z-index: 0;
    font-size: 15px;
    display: block;
    position: absolute;
    bottom: 0;
    right: 0px;    
    color: #999;
    transition: all 400ms ease;
}
.articles .card-body:before {  
    font-family: 'Dubai W23 Regular';
    padding: 1.25rem;
    text-decoration: inherit;
    content: '';
    z-index: 0;
    font-size: 16px;
    display: block;
    position: absolute;
    bottom: -1px;
    right: 50px;    
    color: #999;
    transition: all 400ms ease;
}
.articles:first-child .card-body {
    border-left: 1px solid #ddd;
}
.articles .card-body .author {
    font-family: 'Dubai W23 Regular';
    font-size: 15px;
    color: #999;
    position: absolute;
    bottom: 0px;
    padding: 1.25rem 0;
}


.articles .card:hover .card-img-top {
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    transform: scale(1.05);
    -webkit-transition: all 4000ms cubic-bezier(.19,1,.22,1) 0ms;
    -moz-transition: all 4000ms cubic-bezier(.19,1,.22,1) 0ms;
    transition: all 4000ms cubic-bezier(.19,1,.22,1) 0ms;     
}
.articles .card:hover .card-body {
    background: #000;
    transition: all 600ms;
    border:1px solid #000;
}
.articles .card:hover a.card-body h4 {
    color: #fff;
}
.articles .card:hover .card-body:after {
    color: #fff;
    content: '→';
    right: 0;
    transition: all 400ms ease;
}
.articles .card:hover .card-body:before {
    color: #fff;
    content: 'Read';
    right: 20px;
    transition: all 400ms ease;
}
.articles .card:hover .card-body .author {
    color: #fff;
}


.magazines .card {
    border:none;
    border-radius: 0px;

}
.magazines .card-img-top {
    border-radius: 0px;
}
.magazines a.card-body   {   
    padding: 1.25rem; 
    text-decoration: none; 
    margin-bottom: 20px;
}
.magazines .card a.card-body:before {
    font-family: 'Dubai W23 Regular';
    padding: 1.25rem;
    text-decoration: inherit;
    content: '';
    z-index: 0;
    font-size: 16px;
    display: block;
    position: absolute;
    bottom: 10px;
    left: -15px;    
    color: #999;
    transition: all 400ms ease;
}
.magazines .card:hover a.card-body:before {
    content: 'Explore';
    transition: all 400ms ease;
    left: 0px;
}
.magazines .card a.card-body:after {
    font-family: Calibri;
    padding: 1.25rem;
    text-decoration: inherit;
    content: '';
    z-index: 0;
    font-size: 16px;
    display: block;
    position: absolute;
    bottom: 10px;
    left: 45px;    
    color: #999;
    transition: all 400ms ease;
}
.magazines .card:hover a.card-body:after {
    content: '→';
    transition: all 400ms ease;
    left: 60px; 
}
.magazines a.card-body h4 {
    text-transform: uppercase;
    font-size: 17px;
    color: #808080;
    font-family: 'Dubai W23 Regular';
    margin-bottom: 5px;
}
.magazines a.card-body h3 {
    color: #000;
    font-size: 20px;
    font-family: 'Dubai W23 Medium';
    margin-bottom: 30px;
}
.magazines .slick-prev, .magazines .slick-next {
    top: -65px;
}
.magazines .slick-next {
    right: 26px;
}
.magazines .slick-prev {
    right: 67px;
    left: inherit;
}
.magazines .slick-prev:before, .magazines .slick-next:before {
    color: #000;
    font-family: Calibri;
    border:1px solid #000;
    padding: 2px 5px 4px;
    transition: all 400ms ease;
}
.magazines .slick-prev:hover:before, .magazines .slick-next:hover:before {
    color: #fff;    
    border:1px solid #000;
    background: #000;
    transition: all 400ms ease;
}
.magazines .card a.card-img {
    overflow: hidden;
    border-radius: 0;
}
.magazines .card:hover .card-img-top {
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    transform: scale(1.05);
    -webkit-transition: all 4000ms cubic-bezier(.19,1,.22,1) 0ms;
    -moz-transition: all 4000ms cubic-bezier(.19,1,.22,1) 0ms;
    transition: all 4000ms cubic-bezier(.19,1,.22,1) 0ms;     
}
.magazines .card:hover .card-body {
    background: #000;
    transition: all 200ms;

}
.magazines .card:hover .card-body h4, .magazines .card:hover .card-body h3  {
    color: #fff;
}
.subscribe-instagram {
    padding-bottom: 0;
}

.subscribe {
    padding: 0;
}
.subscribe .card {
    border-radius: 0; 
    border-bottom: 0;    
}
.subscribe:first-child .card {
    border-radius: 0;  
    border-right: 0;
}
.subscribe .card-body {
    padding: 0;
}

.subscribe .card-body h4 {
    text-transform: uppercase;
    font-size: 17px;
    color: #000;
    font-family: 'Dubai W23 Medium';
    margin-bottom: 5px;
}
.subscribe .card-body h2 {
    text-transform: uppercase;

    color: #000;    
    margin-bottom: 5px;
}
.subscribe .card-body p {
    opacity: .39;
    font-family: 'Dubai W23 Regular';
    line-height: 25px;
    color: #171717;
    margin: 15px 0px;
}
.subscribe .card-body a { 
    text-transform: none;
    font-family: 'Dubai W23 Regular';
    color: #666;    
    margin-top: 30px;
    margin-bottom: 0;
    font-size: 25px;
    text-decoration: none;
}
.subscribe .card-body a span {
    font-family: Calibri;
    font-size: 20px;
    margin-left: 15px;    
}
.subscribe .card-body a:hover {
    color: #000;
    transition: all 200ms ease; 
}
.subscribe .card-body a:hover span {
    margin-left: 20px; 
    transition: all 200ms ease;   
}
.subscribe .card-body .subscribe-text {
    float: left;
    padding: 2.25rem;
}
.subscribe .card-body .subscribe-img {
    float: left;
    margin-top: 10px;
}

footer {
    background: #000;
    color: #888888;
    padding: 10px 0;
}
footer .contact {
    padding: 20px 0;
    border-bottom: 1px solid #333;
    margin: 0;
}
footer p {
    font-size: 15px;
    margin-bottom: 0;
    font-family: 'Dubai W23 Regular';
}
footer h4 {
    font-size: 20px;
    color: #fff;
    text-transform: none;
    font-family: 'Dubai W23 Regular';
}

footer .contact .about {
    padding: 20px 65px;
}
footer .contact .about p {
    line-height: 20px;
    text-align: left;
}
footer .contact .links {
    padding: 20px 65px;
    color: #fff;
}
footer .contact .links a {
    color: #888888;
    font-size: 15px;
    font-family: 'Dubai W23 Regular';
    width: 50%;
    float: left;
    display: block;
    text-align: left;
}
footer .logo img {
    width: 30%;
}
footer .copyright {
    padding: 20px 0 5px;
}

.into-text-box {   
    background: rgba(0, 0, 0, 0.74);
    position: relative;
    transition: all 600ms ease;
}

.slider .slick-prev {
    left: 10%;
    z-index: 1;
}
.slider .slick-next {
    right: 11%;
}
.slider .slick-prev, .slider .slick-next {
    top: 88%;

}
.slider .slick-prev:before, .slider .slick-next:before {

    font-family: Calibri;
    border:1px solid #fff;
    padding: 2px 5px 4px;

}
.into-text-box .slide-prev, .into-text-box .slide-next {    
    position: absolute;
    bottom: 60px;
}
.into-text-box .slide-prev {
    left: 80px;
}
.into-text-box .slide-next {
    right: 80px;
}

@media (min-width: 1400px) {
    .slider .slick-prev {
        left: 15%;
        z-index: 1;
    }
    .slider .slick-next {
        right: 15%;
    }
    .slider .slick-prev, .slider .slick-next {
        top: 89%;
    }
    .into-text-box .slide-prev {
        left: 80px;
    }
    .into-text-box .slide-next {
        right: 75px;
    }
}
@media (min-width: 1500px) {
    .slider .slick-prev {
        left: 15%;
        z-index: 1;
    }
    .slider .slick-next {
        right: 15%;
    }
    .slider .slick-prev, .slider .slick-next {
        top: 89%;
    }
}

@media (min-width: 1550px) {
    .slider .slick-prev {
        left: 19%;
        z-index: 1;
    }
    .slider .slick-next {
        right: 19%;
    }
    .slider .slick-prev, .slider .slick-next {
        top: 91%;
    }

}
@media (min-width: 1600px) {
    .slider .slick-prev {
        left: 19%;
        z-index: 1;
    }
    .slider .slick-next {
        right: 19%;
    }
    .slider .slick-prev, .slider .slick-next {
        top: 91%;
    }
}  
@media (min-width: 1750px) {
    .slider .slick-prev {
        left: 20%;
        z-index: 1;
    }
    .slider .slick-next {
        right: 20%;
    }
    .slider .slick-prev, .slider .slick-next {
        top: 91%;
    }

}

.slider .slick-track:before {
    background-color: rgba(0, 0, 0, 0.18);
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    height: 100%;
}

.slider-content {   
    background: rgba(0, 0, 0, 0.74);
    margin: 0;
    padding: 20px;    
}


.slider-content .img-hieght {
    height: 250px;    
    display: table;
    width: 100%;
    margin: 15px 0;

}
.slider-content .item {
    width: 100%;
    overflow: hidden;
}

.slider-content .item:hover .img-hieght {
    text-decoration: none;
    -webkit-transition: all 200ms ease;
    -webkit-transform: scale(1);
    -ms-transition: all 200ms ease;
    -ms-transform: scale(1);   
    -moz-transition: all 200ms ease;
    -moz-transform: scale(1);
    transition: all 200ms ease;    
    transform: scale(1);   
}
.slider-content .item .title { 
    vertical-align: bottom;
    display: table-cell;
    padding: 20px;
    opacity: 0;

}
.slider-content .item .title h2 {
    font-family: 'Dubai W23 Regular';
    margin-top: 15px;
    text-decoration: none;
    text-transform: none;
    color: #fff;
    font-size: 25px;
    letter-spacing: 0;
    margin-bottom: -20px;
    transition: all 400ms ease;  
}
.slider-content .item:hover .title h2 {
    margin-bottom: 0px;
    transition: all 400ms ease;  
}
.slider-content .item .title h4 {
    font-family: 'Dubai W23 Regular';
    text-decoration: none;
    text-transform: none;
    color: #fff;
    background: #000;
    padding: 4px 11px;
    font-size: 13px;
    letter-spacing: 0;
    margin-bottom: 0;
    display: initial;
}
.slider-content .item:hover .img-hieght:before {
    background-color: rgba(0,0,0,0.2);
    content: '';
    z-index: -2;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; 
} 
.slider-content .item:hover .title {
    display: table-cell;
    vertical-align: bottom;
    text-align: left;
    padding: 20px;
    transition: all 200ms ease;
    opacity: 1;

}
.newsletter {
    text-align: center;
    padding: 100px 0;
}
.newsletter h6 {
    font-family: 'Dubai W23 Regular';
}
.newsletter .section-heading {
    font-size: 40px;  
    border: none;
    margin-bottom: 0;
    padding-bottom: 0;
}
.newsletter hr {
    width: 250px;
    margin-top: 5px;
    margin-bottom: 1rem;
    border: 0;
    border-top: 5px solid rgb(0, 0, 0);
}
.newsletter p { 
    font-family: 'Dubai W23 Medium';
    font-size: 22px;
    margin-top: 25px;
}
.newsletter .input-group {
    padding: 0 100px;
    margin-top: 20px;
}
.newsletter .input-group .form-control, .newsletter  .input-group-btn .btn {
    border-radius: 0;    
    padding: 12px 16px;
}
.newsletter  .input-group-btn .btn {
    font-family: Calibri; 
    background: #000;
    cursor: pointer;

}
.newsletter  .input-group-btn .btn:hover {    
    background: #000;  
    transition: all 200ms ease;
}





#mainNav .menuToggle span {
    background: #fff;
}
#mainNav.navbar-shrink .menuToggle span {
    background: #000;
}
.top-bar {
    width: 100%;
}
header.masthead.inner-page .intro-text {
    display: table-cell;
    vertical-align: bottom;
    z-index: 9;
    position: relative;
}
header.masthead.inner-page h2 {
    margin-bottom: 20px;
    text-align: left;
}

header.masthead.inner-page h5 {
    margin-bottom: 50px;
    text-align: left;
    font-family: 'Dubai W23 Regular';
    text-transform: none;
}
.single-article p {
    font-family: 'Dubai W23 Regular';
    font-size: 15px;
    color: #666;
    line-height: 22px;
}
.single-article .article-image img {
    padding-bottom: 20px;
    width: 99%;
}
.single-article .article-image img:nth-child(4n-3) {
    width: 99%;
}
.single-article .article-image img:nth-child(4n-2) {
    width: 49%;
}
.single-article .article-image img:nth-child(4n-1) {
    width: 49%;
}

.article-details {
    padding-top: 0px;
    padding-bottom: 20px;
}
.article-details h4 {
    text-transform: none;
    font-family: 'Dubai W23 Regular';

}
.article-details h4 span {
    margin-left: 10px;
    font-style: italic;
    font-size: 16px;   

}

.masthead.inner-page:before {
    background-color: rgba(0, 0, 0, 0.7);
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    height: 300px;
    z-index: 0;
}
.category-article .item .category-article-img {
    float: left;
}
.category-article .item .category-article-content {
    float: right;
}
.category-article .item:nth-child(2n) .category-article-img {
    float: right;
}
.category-article .item:nth-child(2n) .category-article-content {
    float: left;
}
.category-article .item h4 {
    text-transform: none;
    color: #fff;
    background: #000;
    padding: 4px 11px;
    font-size: 13px;
    font-family: 'Dubai W23 Regular';
    display: initial;

}
.category-article .item h3,
.category-article .item h3 a { 
    margin-top: 20px;
    text-transform: none;
    color: #000;
    font-family: 'Dubai W23 Regular';
}
.category-article .item h3 a {
    text-decoration: none;
}
.category-article .item p { 

    text-transform: none;    
    font-family: 'Dubai W23 Regular';
    font-size: 15px;
    color: #666;
    line-height: 22px;
}
.category-article .item {
    margin-bottom: 0px;
    margin-top: 50px;
    display: inline-block;
    padding-bottom: 50px;
    border-bottom: 1px solid #ddd;
}
.category-article .author {
    text-transform: none;
    font-family: 'Dubai W23 Regular';
    color: #999;

}
.category-article .author span {
    margin-left: 10px;
    font-style: italic;
    font-size: 16px;   
    color: #666;
}
.btn.more {
    text-transform: none;
    color: #666;
    background: none;
    font-weight: 100;
    font-family: 'Dubai W23 Regular';
    border:none;
    border-radius: 0;
    margin-top: 20px;
    padding-left: 0;
    font-size: 20px;
}


.btn.btn-primary.more:hover, .btn.btn-primary.more:link, .btn.btn-primary.more:active, .btn.btn-primary.more:visited {
    color: #000;
    transition: all 200ms ease;
    background: #fff;
    outline:none !important;
    outline: none;

}
.btn.btn-primary.more:focus {
    outline:none !important;
    outline: none;
}
.btn.more:after {
    color: #666;
    content: '→';   
    font-family: Calibri;
    transition: all 400ms ease;
    margin-left: 10px;    
}
.btn.more:hover:after {    
    margin-left: 20px;
    transition: all 400ms ease;
    color: #000;
}
.welcome {
    margin-top: 50px;
    margin-bottom: 50px;
}
.welcome h5 {
    text-align: center;
    font-family: 'Dubai W23 Regular';
    color: #666;
    text-transform: none;
}
.welcome h2 {
    text-align: center;    
}
.welcome hr {
    margin-bottom: 50px;
    width: 50%;
}
.welcome p {
    text-transform: none;    
    font-family: 'Dubai W23 Regular';
    font-size: 18px;
    color: #666;
    line-height: 25px;
    text-align: center;
}



.burger {    
    position: relative;
    width: 30px;
    height: 20px;
    float: right;
    margin-left: 10px;
}
.menuToggle
{
    display: block;
    position: relative;    
    z-index: 1;
    -webkit-user-select: none;
    user-select: none;
    float: right;
    margin-top: 3px;
}

.menuToggle input
{
    display: block;
    width: 40px;
    height: 32px;
    position: absolute;
    top: -7px;
    left: -5px;

    cursor: pointer;

    opacity: 0; /* hide this */
    z-index: 2; /* and place it over the hamburger */

    -webkit-touch-callout: none;
}

/*
 * Just a quick hamburger
 */
.menuToggle span
{
    display: block;
    width: 23px;
    height: 1px;
    margin-bottom: 5px;
    position: relative;
    background: #ffffff;
    border-radius: 0px;
    z-index: 1;
    transform-origin: 4px 0px;
    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
        background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
        opacity 0.55s ease;
}

.menuToggle span:first-child
{
    transform-origin: 0% 0%;
}

.menuToggle span:nth-last-child(2)
{
    transform-origin: 0% 100%;
}

/* 
 * Transform all the slices of hamburger
 * into a crossmark.
 */
.menuToggle input:checked ~ span
{
    opacity: 1;
    transform: rotate(-45deg) translate(-1px, -2px);
    background: #fff;

}

/*
 * But let's hide the middle one.
 */
.menuToggle input:checked ~ span:nth-last-child(3)
{
    opacity: 1;
    transform: rotate(45deg) translate(0, 1px);

}

/*
 * Ohyeah and the last one should go the other direction
 */
.menuToggle input:checked ~ span:nth-last-child(2)
{
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2); 

}

.sidemenu {
    width: 20%;
    height: 100%;
    background: #000;
    position: fixed;
    right: -4000px;    
    top: 0px;
    z-index: 1050;
    opacity: 1; 
    transition: all 400ms ease;
    overflow:hidden;

}
.sidemenu.right-0 { 
    right: 0px;
    transition: all 400ms ease;
}
.sidemenu .burger {   
    margin: 0;      
    width: 100%;
    position: relative;
}
.sidemenu .menuToggle {
    margin-top: 20px;
    margin-right: 20px;

}
.sidemenu ul {
    margin-top: 70px;
    position: relative;
    padding: 0 40px;
}
.sidemenu ul li {
    display: block;
    padding: 10px 0;  
    position: relative;
    border-bottom: 1px solid #333;
    transition: all 400ms ease;
}
.sidemenu ul li a {
    color: #fff;
    text-decoration: none;
    font-family: 'Dubai W23 Regular';
    width: 100%;
    display: block;
}
.sidemenu ul li a:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: #fff;
    visibility: hidden;
    -webkit-transform: scaleX(0);
    -ms-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 1s cubic-bezier(0.32, 1.25, 0.375, 1.15);
    transition: all 1s cubic-bezier(0.32, 1.25, 0.375, 1.15);
}
.sidemenu ul li a:hover:after{
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    visibility: visible;
}
.sidemenu ul.social-icons {
    margin-top: 20px;
}
.sidemenu ul.social-icons li {
    display: inline-block;
    padding: 10px 0px 10px; 
    margin-right: 20px;
    position: relative;
    border-bottom: 0px solid #333;
}
.sidemenu ul.social-icons li a {
    color: #aaa;
    transition: all 400ms ease;
}
.sidemenu ul.social-icons li a:hover {
    color: #fff;
    transition: all 400ms ease;
}
.sidemenu ul.quicklinks {
    margin-top: 20px;
}
.sidemenu ul.quicklinks li {
    border-bottom: 0px solid #333;
    padding: 0px 0px;
}
.sidemenu ul.quicklinks li a {
    color: #aaa;
    font-size: 13px;
    text-transform: uppercase;
    transition: all 400ms ease;
}
.sidemenu ul.quicklinks li a:hover {
    color: #fff;
    transition: all 400ms ease;
}
.sidemenu ul.quicklinks li a:after {
    height: 0;
}
section.board, section.chairman {
    padding-top: 70px;
    padding-bottom: 70px;
}
section.board h2.section-heading {
    text-align: center;
    border:none;
}
.articles .member a.card-body h4 {
    padding-bottom: 0;
}
.articles .card.member a.card-body p {
    opacity: .39;
    font-family: 'Dubai W23 Regular';
    line-height: 25px;
    color: #171717;
    margin: 15px 0px;
}
.articles .member .card-body:after {
    content: "";
}
.articles .card:hover .card-body:before {
    content: "";
}
.articles .card.member:hover a.card-body p {
    color: #fff;
    opacity: .5;
}
.articles .card.member:hover .card-body:after {
    content: "";
}
.newsletter .input-group .form-control {
    transition: all 800ms ease;
}
.newsletter .input-group .form-control:focus,.newsletter .input-group .form-control:active {
    border-color: #000;
    transition: all 800ms ease;
}
.newsletter  .input-group-btn .btn:before {
    font-family: 'Dubai W23 Medium';    
    text-decoration: inherit;
    content: 'SEND';
    z-index: 0;
    font-size: 15px;
    display: inline-block;
    opacity: 0;
    color: #fff;
    margin-right: -35px;
    transition: all 200ms ease;

}
.newsletter  .input-group-btn .btn:hover:before {
    display: inline-block;
    transition: all 200ms ease;
    margin-right: 10px;
    opacity: 1;
}
.contact-address{

    margin: 0;
    position: relative;
}
.contact-address .address {
    position: absolute;
    bottom: 0px;
    left: 40px;
}
.contact-mails {
    margin: 100px 0;
    padding-top: 50px;
    border-top: 1px solid #ddd;
}
.contact-mails ul {
    padding: 20px 0;
}
.contact-mails ul li { 
    display: inline-block;
    width: 24%;

}
.contact-mails ul li h5 { 
    font-size: 20px;
    font-family: 'Dubai W23 Regular'; 
    text-transform: none;
    color: #000;
}
.contact-mails ul li a { 
    font-size: 15px;
    font-family: 'Dubai W23 Regular'; 
    text-transform: none;
    color: #999;
}


/* Override bootstrap column paddings */
.tz-gallery .row > div {
    padding: 2px;
}
.tz-gallery .lightbox {
    width: 25%;
}

.tz-gallery .lightbox img {
    width: 100%;
    border-radius: 0;
    position: relative;
}

.tz-gallery .lightbox:before {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -13px;
    margin-left: -13px;
    opacity: 0;
    color: #fff;
    font-size: 26px;
    font-family: 'Glyphicons Halflings';
    content: '\e003';
    pointer-events: none;
    z-index: 9000;
    transition: 0.4s;
}


.tz-gallery .lightbox:after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    background-color: rgba(46, 132, 206, 0.7);
    content: '';
    transition: 0.4s;
}

.tz-gallery .lightbox:hover:after,
.tz-gallery .lightbox:hover:before {
    opacity: 1;
}

.baguetteBox-button {
    background-color: transparent !important;
}

.lang {
    position: absolute;
    top:50px;   
    right: 0;
}
.lang a, .lang button {
    color: #fff;
    font-size: 15px;
    background: none;
    border: 0px;
}
.navbar-shrink .lang {
    display: none;
}
.slider-content .item .title {
        display: table-cell;
       vertical-align: bottom;
       text-align: left;
       padding: 20px;
       transition: all 200ms ease;
       opacity: 1;
   }
   .slider-content .item .title h2 {
       margin-bottom: 0px;
       transition: all 400ms ease;
   }
   .featured .item .title {
       vertical-align: bottom;
       display: table-cell;
       padding: 20px;
       opacity: 1;
   }
   .featured .item .title h2 {
       margin-bottom: 0px;
       transition: all 400ms ease;
   }