/* Photo gallery modal bottom link*/

.modal-link {
        color: #666;
}
.modal-link:hover {
        color: #000;
        text-decoration: none;
}

.subscribe-modal .modal-content {
    padding: 100px 0;
    text-align: center;
    border: none;
    border-radius: 0;
    background-clip: border-box;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.subscribe-modal .modal-content h2 {
    font-size: 20px;
    margin-bottom: 50px;
}

.subscribe-modal .close-modal {
    position: absolute;
    top: 25px;
    right: 25px;
    width: 25px;
    height: 25px;
    cursor: pointer;
    background-color: transparent;
}
.subscribe-modal .close-modal .lr .rl {
    z-index: 1052;
    width: 1px;
    height: 25px;
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
    background-color: #222222;
}
.subscribe-modal .close-modal .lr {
    z-index: 1051;
    width: 1px;
    height: 25px;
    margin-left: 13px;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    background-color: #222222;
}
.ed-loader {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: url("../images/loader-logo.png") center no-repeat #000;
}