html {
    direction: rtl;
}
.sidemenu.right-0 {
    left: 0px;
    right: initial;
}
.sidemenu {
    width: 20%;
    height: 100%;
    background: #000;
    position: fixed;
    left: -4000px;
    right: initial;
}
.sidemenu ul.social-icons li {
    margin-right: 0;
    margin-left: 20px;
}
.slider-content .item:hover .title {
    text-align: right;
}
.newsletter  .input-group-btn .btn:hover:before {
    margin-right: 0;
    margin-left: 10px;
}
.articles .card a.card-img span {
    right: 23px;
    left:initial;
}
.articles .card .card-body:before {
    left:50px;
    right: initial;    
}
.articles .card:hover .card-body:before {
    left:20px;
    right: initial;    
}
.articles .card .card-body:after {
    left: 0;
    right: initial;
    content: "←";
    transition: all 400ms ease;
}
.articles .card:hover .card-body:after {
    left: 0;
    right: initial;
    content: "←";
    transition: all 400ms ease;
}
.articles:first-child .card-body {    
    border-right: 1px solid #ddd;
}
.articles .card-body {
    border-bottom: 1px solid #ddd;
    border-top: 1px solid #ddd;
    border-left: 1px solid #ddd;
    border-right: 0px solid #ddd;
}
.slick-slide {
    float: right;
}
.magazines .slick-next {
    left: 26px;
    right: inherit;
}
.magazines .slick-prev {
    left: 67px;
    right: inherit;
}
.slick-prev:before {
    content: '→';
}
.slick-next:before {
    content: '←';
}
.magazines .card a.card-body:before {
    left: initial;
    right: -15px;
}
.magazines .card:hover a.card-body:before {
    left: initial;
    right: 0px;
}
.magazines .card a.card-body:after {
    left: initial;
    right: 45px;
}
.magazines .card:hover a.card-body:after {
    left: initial;
    right: 60px;
    content: '←';
}
footer .contact .links a {
    text-align: right;
    float: right;
}
.articles .card.member .card-body:after {
    content: '';
}

header.masthead.inner-page h2 {
    text-align: right;
}
.btn.more::after { 
    content: '←';
    margin-left: 0;
    margin-right: 10px;
}
.portfolio-modal .modal-content p.item-intro{
    text-align: right;
}
.portfolio-modal .modal-content ul.list-inline {
    text-align: right;
    padding-right: 0;
}
.portfolio-modal .close-modal {
    left: 25px;
    right: initial;
}
header.masthead.inner-page h5 {
    text-align: right;
}
footer .contact .about p {
    text-align: right;
}
.slider .slick-prev {
    right: 10%;
    left: initial;
}
.slider .slick-next {
    left: 11%;
    right: initial;
}
.into-text-box .slide-next {
    left: 80px;
    right: initial;
}
.into-text-box .slide-prev {
    right: 80px;
    left: initial;
}
.navbar-brand {
    margin-left: 1rem;
    margin-right: 0rem;
}
.lang {
    position: absolute;
    top:50px;   
    left: 0;
    right: initial;
}
.burger {
    position: relative;
    margin-right: 10px;
    float: left;
    margin-left: 0px;
}
.menuToggle {
	float:left;
}
.sidemenu .menuToggle {
    margin-top: 20px;
    margin-right: 0px;
	margin-left: 20px;
}
.newsletter  .input-group-btn .btn:before {
    content: 'أرسل';   
}


@media only screen and (max-width: 1024px) {
    .burger {
        position: absolute;
        top: 20px;
        left: 20px;
        right: initial;
        z-index: 1;
    }  
    .sidemenu {
        width: 100%;
        overflow-y: scroll;
        overflow-x: hidden;
    }
    .sidemenu.right-0 {
        left: 0px;
        right: initial;
        transition: all 400ms ease;
    }
}

