
<!-- Banner slider -->
<div class="banner-slider">

    <!-- slider main slides -->
    <div id="ninja-slider" class="ninja-slider">
        <div class="slider-inner">
            <ul>
                <li>
                    <a class="ns-img" href="images/img-01.jpg"></a>
                    <!-- caption -->
                    <div class="caption-holder">
                        <div class="container p-relative">
                            <div class="caption">
                                <span>lifestyle</span>
                                <h2><a href="post-detail.html">Google is on a journey but we won't really know where it leads until fall</a></h2>
                                <div class="post-meta">
                                    <span><i class="icon-user"></i>jessica alex</span>
                                    <span><i class="icon-clock"></i>10 Min ago</span>
                                    <span><i class="fa fa-thumbs-o-up"></i>20</span>
                                    <span><i class="icon-speech-bubble"></i>20</span>
                                </div>
                                <p>5 Luxury Travel Alternatives For The London Underground Strikes <br>For The London Underground Strikes</p>
                            </div>
                        </div>
                    </div>
                    <!-- caption -->
                </li>
                <li>
                    <a class="ns-img" href="images/img-02.jpg"></a>
                    <!-- caption -->
                    <div class="caption-holder">
                        <div class="container p-relative">
                            <div class="caption">
                                <span>lifestyle</span>
                                <h2><a href="post-detail.html">I may not have gone where I intended to go, but I think I have ended up where I needed to be</a></h2>
                                <div class="post-meta">
                                    <span><i class="icon-user"></i>jessica alex</span>
                                    <span><i class="icon-clock"></i>10 Min ago</span>
                                    <span><i class="fa fa-thumbs-o-up"></i>20</span>
                                    <span><i class="icon-speech-bubble"></i>20</span>
                                </div>
                                <p>5 Luxury Travel Alternatives For The London Underground Strikes <br>For The London Underground Strikes</p>
                            </div>
                        </div>
                    </div>
                    <!-- caption -->
                </li>

            </ul>
            <div class="fs-icon" title="Expand/Close"></div>
        </div>
    </div>
    <!-- slider main slides -->



</div>
<!-- Banner slider -->



<!-- Main Content -->
<main class="wrapper"> 
    <div class="theme-padding">
        <div class="container">

           
            <div class="row">



                <!-- Sidebar -->
                <div class="col-lg-3 col-md-3 col-xs-12 custom-re">
                    <div class="row">
                        <aside class="side-bar grid">
                            <!-- Auther profile -->
                            <div class="grid-item col-lg-12 col-md-12 col-sm-4 col-xs-6 r-full-width">
                                <div class="widget light-shadow">
                                    <h3 class="secondry-heading">our authers</h3>
                                    <div class="auther-widget">
                                        <div id="auther-slider-thumb" class="auther-slider-thumb">
                                            <a data-slide-index="0" href="#"><img src="images/auth.jpg" alt=""></a>
                                            <a data-slide-index="1" href="#" class="active"><img src="images/auth-1.jpg" alt=""></a>
                                            <a data-slide-index="2" href="#"><img src="images/auth-2.jpg" alt=""></a>
                                        </div>
                                        <ul class="auther-slider">
                                            <li class="auther-detail">
                                                <strong>james watson</strong>
                                                <span>Admin, photographer</span>
                                                <p>Lorem ipsum dolor sit ameting elit consectetur adipisicing elit, sed eiusmod.</p>
                                            </li>

                                            <li class="auther-detail">
                                                <strong>james watson</strong>
                                                <span>Admin, photographer</span>
                                                <p>Lorem ipsum dolor sit ameting elit consectetur adipisicing elit, sed eiusmod.</p>
                                            </li>

                                            <li class="auther-detail">
                                                <strong>james watson</strong>
                                                <span>Admin, photographer</span>
                                                <p>Lorem ipsum dolor sit ameting elit consectetur adipisicing elit, sed eiusmod.</p>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <!-- Auther profile -->

                            


                            <!-- News Widget -->
                            <div class="grid-item col-lg-12 col-md-12 col-sm-4 col-xs-6 r-full-width">
                                <div class="widget">
                                    <h3 class="secondry-heading">top news</h3>
                                    <div class="horizontal-tabs-widget">

                                        <!-- tabs navs -->
                                        <ul class="theme-tab-navs">
                                            <li class="active">
                                                <a href="#week" data-toggle="tab">week</a>
                                            </li>
                                            <li>
                                                <a href="#month" data-toggle="tab">month</a>
                                            </li>
                                            <li>
                                                <a href="#all" data-toggle="tab">all</a>
                                            </li>
                                        </ul>
                                        <!-- tabs navs -->

                                        <!-- Tab panes -->
                                        <div class="horizontal-tab-content tab-content">
                                            <div class="tab-pane fade active in" id="week">
                                                <ul class="post-wrap-list">
                                                    <li class="post-wrap small-post">
                                                        <div class="post-thumb">
                                                            <img src="images/post/img-01.jpg" alt="post">
                                                        </div>
                                                        <div class="post-content">
                                                            <h4><a href="#">Lorem ipsum dolors it..</a></h4>
                                                            <ul class="post-meta">
                                                                <li><i class="fa fa-clock-o"></i>25 dec, 2016</li>
                                                                <li><i class="fa fa-comments-o"></i>20</li>
                                                            </ul>
                                                        </div>
                                                    </li>
                                                    <li class="post-wrap small-post">
                                                        <div class="post-thumb">
                                                            <img src="images/post/img-02.jpg" alt="post">
                                                        </div>
                                                        <div class="post-content">
                                                            <h4><a href="#">Lorem ipsum dolors it..</a></h4>
                                                            <ul class="post-meta">
                                                                <li><i class="fa fa-clock-o"></i>25 dec, 2016</li>
                                                                <li><i class="fa fa-comments-o"></i>20</li>
                                                            </ul>
                                                        </div>
                                                    </li>
                                                    <li class="post-wrap small-post">
                                                        <div class="post-thumb">
                                                            <img src="images/post/img-03.jpg" alt="post">
                                                        </div>
                                                        <div class="post-content">
                                                            <h4><a href="#">Lorem ipsum dolors...</a></h4>
                                                            <ul class="post-meta">
                                                                <li><i class="fa fa-clock-o"></i>25 dec, 2016</li>
                                                                <li><i class="fa fa-comments-o"></i>20</li>
                                                            </ul>
                                                        </div>
                                                    </li>
                                                </ul>
                                            </div>
                                            <div class="tab-pane fade" id="month">
                                                <ul class="post-wrap-list">
                                                    <li class="post-wrap small-post">
                                                        <div class="post-thumb">
                                                            <img src="images/post/img-01.jpg" alt="post">
                                                        </div>
                                                        <div class="post-content">
                                                            <h4><a href="#">Lorem ipsum dolors...</a></h4>
                                                            <ul class="post-meta">
                                                                <li><i class="fa fa-clock-o"></i>25 dec, 2016</li>
                                                                <li><i class="fa fa-comments-o"></i>20</li>
                                                            </ul>
                                                        </div>
                                                    </li>
                                                    <li class="post-wrap small-post">
                                                        <div class="post-thumb">
                                                            <img src="images/post/img-02.jpg" alt="post">
                                                        </div>
                                                        <div class="post-content">
                                                            <h4><a href="#">Lorem ipsum dolor...</a></h4>
                                                            <ul class="post-meta">
                                                                <li><i class="fa fa-clock-o"></i>25 dec, 2016</li>
                                                                <li><i class="fa fa-comments-o"></i>20</li>
                                                            </ul>
                                                        </div>
                                                    </li>
                                                    <li class="post-wrap small-post">
                                                        <div class="post-thumb">
                                                            <img src="images/post/img-03.jpg" alt="post">
                                                        </div>
                                                        <div class="post-content">
                                                            <h4><a href="#">Lorem ipsum dolors...</a></h4>
                                                            <ul class="post-meta">
                                                                <li><i class="fa fa-clock-o"></i>25 dec, 2016</li>
                                                                <li><i class="fa fa-comments-o"></i>20</li>
                                                            </ul>
                                                        </div>
                                                    </li>
                                                </ul>
                                            </div>
                                            <div class="tab-pane fade" id="all">
                                                <ul class="post-wrap-list">
                                                    <li class="post-wrap small-post">
                                                        <div class="post-thumb">
                                                            <img src="images/post/img-01.jpg" alt="post">
                                                        </div>
                                                        <div class="post-content">
                                                            <h4><a href="#">Lorem ipsum dolors...</a></h4>
                                                            <ul class="post-meta">
                                                                <li><i class="fa fa-clock-o"></i>25 dec, 2016</li>
                                                                <li><i class="fa fa-comments-o"></i>20</li>
                                                            </ul>
                                                        </div>
                                                    </li>
                                                    <li class="post-wrap small-post">
                                                        <div class="post-thumb">
                                                            <img src="images/post/img-02.jpg" alt="post">
                                                        </div>
                                                        <div class="post-content">
                                                            <h4><a href="#">Lorem ipsum dolors...</a></h4>
                                                            <ul class="post-meta">
                                                                <li><i class="fa fa-clock-o"></i>25 dec, 2016</li>
                                                                <li><i class="fa fa-comments-o"></i>20</li>
                                                            </ul>
                                                        </div>
                                                    </li>
                                                    <li class="post-wrap small-post">
                                                        <div class="post-thumb">
                                                            <img src="images/post/img-03.jpg" alt="post">
                                                        </div>
                                                        <div class="post-content">
                                                            <h4><a href="#">Lorem ipsum dolors...</a></h4>
                                                            <ul class="post-meta">
                                                                <li><i class="fa fa-clock-o"></i>25 dec, 2016</li>
                                                                <li><i class="fa fa-comments-o"></i>20</li>
                                                            </ul>
                                                        </div>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                        <!-- Tab panes -->

                                    </div>
                                </div>
                            </div>
                            <!-- News Widget -->


                           

                           


                            <!-- advertisement widget -->
                            <div class="grid-item col-lg-12 col-md-12 col-sm-4 col-xs-6 r-full-width">
                                <div class="widget">
                                    <h3 class="secondry-heading">advertisement</h3>
                                    <div class="add">
                                        <a href="#"><img src="images/add.jpg" alt=""></a>
                                    </div>
                                </div>
                            </div>
                            <!-- advertisement widget -->


                        </aside>
                    </div>
                </div>
                <!-- Sidebar -->

            </div>   
            <!-- Main Content Row -->

        </div>
    </div>  



</main>
<!-- main content -->

